body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrapper_header{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    width: 100%;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 10px;
    align-self: flex-start;
}

.logo > img {
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms height ease-in;
}
.menu > a {
    padding: 30px 10px;
    text-decoration: none;
    color:darkred;
    font-size: 32px;
    transition: 50ms opacity ease-in;
}
.menu > a:hover {
    text-decoration: none;
    color:white;
}

/* ----------hamburger---------- */

.hamburger {
    width: 60px;
    aspect-ratio: 1;
    margin: 20px;
    display: none;
    align-self: flex-start;
    position: relative;
}

.bar {
    height: 5px;
    width: 45px;
    border-radius: 2.5px;
    background-color: gray;
    position: absolute;
    transform-origin: center;
    /* transition: all 250ms; */
    /* transition: transform 100ms; */
    transition: rotate 100ms, top 100ms 100ms, bottom 100ms 100ms;

}
.bar:nth-child(1) {
    top: 10px;
}
.bar:nth-child(3) {
    bottom: 10px;
}

.hamburger.active_ham .bar {
    height: 5px;
    width: 60px;
    transition: rotate 100ms 100ms, top 100ms, bottom 100ms;

}
.hamburger.active_ham .bar:nth-child(1) {
    top: 50%;
    rotate: 45deg;
    translate: 0 -50% 0;
}
.hamburger.active_ham .bar:nth-child(2) {
    transform: scale(0%);
}
.hamburger.active_ham .bar:nth-child(3) {
    bottom: 50%;
    translate: 0 50% 0;
    rotate: -45deg;
}

@media (max-width: 700px) {
    body.active_body {
        overflow: hidden;
    }
    .wrapper_header.active_header {
        position: fixed;
    }
    .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu > a {
        opacity: 0;
    }
    .menu {
        flex-direction: column;
        gap: 10svh;
        height: 0;
        overflow-y: hidden;
    }
    .active {
        height: 100svh;
    }
    .active > a {
        opacity: 1;
        transition: 50ms opacity ease-in 250ms;
    }
}

/* ----------teste---------- */

.teste {
    width: 100%;
    height: 100vh;
}

#teste_1 {
    background-color: red;
}
#teste_2 {
    background-color: blueviolet;
}
#teste_3 {
    background-color: blue;
}